.row
  .large-12.columns
    %ul.item-cards.transitions-enabled.clearfix.large-block-grid-3
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'
      %li
        = image_tag 'loveandlaughter/lovewall.jpg'