.row
  .large-12.cols
    %h1 New message

    = simple_form_for [@user, @message] do |f|
      = f.error_notification

      .form-inputs
        = f.input :title
        = f.input :content
        -#= f.association :users

      .form-actions
        = f.submit "save", class: :button
