.row
  .large-12.columns
    = simple_form_for [@user, @child] do |f|
      = f.error_notification

      .form-inputs
        = f.input :first_name
        = f.input :last_name
        -#- f.input :parent_id
        = f.input :age
        = f.input :allergies
        = f.input :allergies
        - if current_user.admin?
          = f.input :joining_date
          = f.input :leaving_date,  :include_blank => true

      .form-actions
        = f.submit "save", class: :button
