- model_class= User
.container
  .row
    .page-header
      %h1 Listing Parents
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:name)
          %th= model_class.human_attribute_name(:parent_name)
          %th= model_class.human_attribute_name(:age)
          %th= model_class.human_attribute_name(:allergies)
      - Child.all.each do |child|
        %tr
          %td= link_to child.first_name, edit_child_path(child)
          %td= child.user.name
          %td= child.age
          %td= child.allergies
