.row
  .large-12.columns
    %p#notice= notice

    %p
      %h1= @photo.name
      = image_tag @photo.image_url.to_s

    = link_to 'Edit', edit_photo_path(@photo)
    \|
    = link_to 'Back', photos_path
